@font-face
  font-family: 'icomoon'
  src: url('../../src/fonts/icomoon.eot?5ofu01')
  src: url('../../src/fonts/icomoon.eot?5ofu01#iefix') format("embedded-opentype"), url('../../src/fonts/icomoon.ttf?5ofu01') format("truetype"), url('fonts/icomoon.woff?5ofu01') format("woff"), url('fonts/icomoon.svg?5ofu01#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

@font-face 
  font-family: 'Archangelsk'
  src: url('../../src/fonts/Archangelsk.ttf')

