header
    background: url(../../src/img/image/background.jpg) center center/cover no-repeat
    height: 1000px
.header
    display: flex
    justify-content: space-between
    padding: 20px 0
    &__menu
        display: flex
        align-items: center
        justify-content: end
.menu__list
    display: flex
    list-style-type: none
    &-item
        margin-left: 40px
.menu__link
    font-size: 30px
    color: #000
    text-decoration: none
    &:hover
        color: #F8F200
.header__card
    display: flex
    align-items: flex-end
    float: right
    height: 886px
.card-item
    width: 624px
    height: 369px
    background-color: #F8F200
    padding-top: 70px
    clip-path: polygon(0 15%, 9% 0, 100% 0, 100% 85%, 91% 100%, 0 100%)
.card__link
    max-width: 484px
    margin: 0 auto
.card-text
    font-family: 'Archangelsk'
    font-size: 62px
    font-style: normal
    font-weight: 400
    margin: 0 0px 25px 0px
    color: #000
.card__button
    padding: 19px 50px
