.container
    max-width: 1024px
    margin: 0 auto
    
[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-facebook:before
  content: "\e900"

.icon-instagram:before
  content: "\e901"

.icon-twitch:before
  content: "\e902"

.icon-twitter:before
  content: "\e903"

.icon-vk:before
  content: "\e904"

.icon-youtube:before
  content: "\e905"

.button
  display: inline-block
  text-align: center
  font-family: Roboto
  font-size: 24px
  font-weight: 700
  color: #F8F200
  background-color: #000
  cursor: pointer
  